body {
	background-color: #566270;
	color: #FFFFF3;
}

.header {
	font-family: 'Lobster', cursive;
	font-size: 75px;
	margin: 15px 0 75px 0;
}

.sticky-bottom {
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
}

/* centered columns styles */
.text-center {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#weather-data{
	padding-bottom: 25px;
}